<div id="<%= dom_id booking %>">
  <p>
    <strong>Car:</strong>
    <%= booking.car_id %>
  </p>

  <p>
    <strong>Service date:</strong>
    <%= booking.service_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= booking.notes %>
  </p>


  <p>
    <strong>Service Center:</strong>
    <%= booking.service_center&.name || "Not assigned" %>
  </p>

  <p>
    <strong>Center Location:</strong>
    <%= booking.service_center&.location %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= booking.service_center&.phone %>
  </p>

  <p>
    <strong>Selected Services:</strong>
    <ul>
      <% @booking.service_types.each do |stype| %>
        <li><%= stype.name %> – ₹<%= stype.base_price %></li>
      <% end %>
    </ul>
  </p>


</div>
