<%= form_with(model: booking, url: booking.persisted? ? booking_path(booking) : car_bookings_path(@car), local: true) do |form| %>


  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div>
    <%= form.label :service_date, style: "display: block" %>
    <%= form.date_field :service_date %>
  </div>

  <div>
    <%= form.label :service_types, "Select Services", style: "display: block" %>
    <%= form.collection_check_boxes :service_type_ids, ServiceType.all, :id, :name do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>


  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :service_center_id, "Service Center", style: "display: block" %>
    <%= form.collection_select :service_center_id, ServiceCenter.all, :id, :name, { prompt: "Choose center" }, required: true %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
