<%= form_with(model: car, local: true) do |form| %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name %>
  </div>

  <div class="field">
    <%= form.label :registration_number %>
    <%= form.text_field :registration_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
