<%= form_with(model: car, local: true, html: { class: "mt-4" }) do |form| %>

  <div class="mb-3">
    <label class="form-label">User</label>
    <input type="text" class="form-control" value="<%= current_user.name %>" disabled>
  </div>
  
  <div class="field">
    <%= form.label :vehicle_brand_id, "Car Brand" %>
    <%= form.collection_select :vehicle_brand_id, VehicleBrand.all, :id, :name, prompt: "Select Brand" %>
  </div>

  <div class="mb-3">
    <%= form.label :model, class: "form-label" %>
    <%= form.text_field :model, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :year, class: "form-label" %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :registration_number, class: "form-label" %>
    <%= form.text_field :registration_number, class: "form-control" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", cars_path, class: "btn btn-secondary ms-2" %>
  </div>
<% end %>
