<%= render "car", car: @car %>
<h2>Bookings for this Car</h2>

<%= link_to "New Booking", new_car_booking_path(@car) %>

<ul>
  <% @car.bookings.each do |booking| %>
    <li>
      <%= booking.service_date %> - <%= truncate(booking.notes, length: 40) %> - <%= booking.service_center.name || 'No Service Center Assigned'%>
      <%= link_to "View", booking_path(booking) %>
    </li>
  <% end %>
</ul>
